/* body {
    background: white url("images/background.jpg") left 50% top 15%;
} */
/* header, fieldset, div, ul, .btn-small, .btn {background:rgba(200, 200, 200, .6); border-radius: 5px; padding: .5rem; border: solid thin #666; } */

/* .btn { border: solid thin #666; margin-left: .1rem; } */
/* ul { padding-left: 2rem; }

legend {
    color: aliceblue;
}
li a {
    color: darkblue;
    text-decoration: none;
}
li:hover {
    background: lightsteelblue;
    color: red;
} */

/*
 .mainheader {margin-top:0;margin-bottom:0;padding-top:1rem;padding-bottom:1rem;padding-left:.1rem;}
.mainheader a {color:whitesmoke;}
*/

.header { color:whitesmoke;margin-top:0;padding-top:1rem;padding-bottom:1rem; }
.collection a.collection-item {
    color: black;
}
.dropdown-content li a:hover {
    background: whitesmoke !important;
}

.breadcrumb:first-of-type { margin-left: 8px; }