{% extends 'blog/base.html' %}
{% block content %}
<nav>
    <div class="nav-wrapper blue-grey darken-1 ">
        <a class="breadcrumb" href="{% url 'poll_index' %}">Poll</a>
        <span class="breadcrumb">Create Poll</span>
    </div>
</nav>
<div class="" style="padding:1rem;">
    <form method="POST" action="{% url 'poll_create_done' %}">
        {% csrf_token %}
        {{form.as_p}}
        {% for formset in inlines %}
            {{ formset.as_p }}
        {% endfor %}
        <button class="btn-small blue-grey lighten-2" type="submit" value="Save">Create poll</button>
    </form>
</div>

{% endblock content %}