{% extends 'blog/base.html' %}
{% block content %}
<header><h1>The poll`s "{{poll.title}}" details</h1></header>
<div class="content">
    {{poll.content}}
</div>

{% if error_message %}<p><strong style="color:red;">{{ error_message }}</strong></p>{% endif %}

<form method="POST" action="{% url 'poll-vote' poll.id %}">
    {% csrf_token %}
    <fieldset><legend>Options</legend>
            {% for option in poll.option_set.all %}
                <div>
                    <input id="{{option.id}}" value="{{option.id}}" name="option" type="radio">
                    <label for="{{option.id}}">{{option.title}}</label>
                </div>
            {% endfor %}
    </fieldset>
    <div class='btn'>
        <button type="submit">voten</button>
    </div>
</form>
<div class="btn-small"><a href="{% url 'polls-index' %}">back to mainpage</a></div>
<div class="btn-small"><a href="{% url 'poll-results' poll.pk %}">go to results</a></div>
{% endblock content %}