{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'blog/style.css' %}">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script> -->

</head>
<body>
    <h3 class="blue-grey darken-3 mainheader"><a href="/">Corp. Mainheader</a></h3>
    <div  class="blue-grey darken-3 header" style="padding-top:.1rem;padding-bottom:.1rem;">
        {% if user.is_authenticated %}
        <div class="right-align" style="">
            <small>Logged in as {{user}}</small>&emsp;
            <a class="lighten-2" href="{% url 'logout' %}">Logout</a>
        </div>
        {% else %}
        <div class="right-align" style="margin-top:1rem;">
            <a class="lighten-2" href="{% url 'login' %}">Login</a>
        </div>
        {% endif %}
    </div>
    {% block content %}
    {% endblock content %}
</body>
</html>