{% extends 'blog/base.html' %}
{% block content %}
<nav>
    <div class="nav-wrapper blue-grey darken-1 ">
        <a class="breadcrumb" href="{% url 'blog_index' %}">Blog</a>
        <span class="breadcrumb">Create Post</span>
    </div>
</nav>
<div class="" style="padding:1rem;">
    <form method="POST" action="{% url 'post_create_done' %}">
        {% csrf_token %}
        {{form.as_p}}
        <button class="btn-small blue-grey lighten-2" type="submit" value="Save">Create post</button>
    </form>
</div>
{% endblock content %}